.home-component{
    background-image: url('https://media.istockphoto.com/photos/hamburger-ingredients-on-a-black-background-space-for-text-picture-id823729614?k=20&m=823729614&s=612x612&w=0&h=UL8AJBJTBE-FlxzKRpegypPE0EeiwS2Ts_gkWeEBQU0=');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 40px;
    
}

.burger-hunt{
    font-size: 20px;
}
.burger-hunt small{
    font-size: 40px;
    color: rgba(255, 0, 0, 0.616);
}
.peragraph{
    width: 700px;
    margin: auto;
    margin-top: 20px;
}

.customer-review{
    margin-top: 40px;
    font-size: 50px;
    padding: 30px;
}
.Burger{
    color: red;
}

.input{
    width:800px;
    margin: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.521);
}


.meal-parents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-left: 100px;
    margin-top: 30px;
    
    
    
    
}

.cart{
    background-color: rgba(0, 0, 0, 0.171);
    padding: 20px;
}


.crt-container{
    background-color: rgba(0, 0, 0, 0.171);

}
.crt-container img{
    height: 130px;
    width: 130px;
    border-radius: 50px;
    
    
}
.user{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 50px;
    
}
