.parent-component{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100px;
    align-items: center;
    
   
}

.navigation-bar a{
    margin: 20px;
    color: whitesmoke
}
.navigation-bar a:hover{
    color: crimson;
}
.hed{
    color: red;
    font-size: 50px;
    margin-right: 20px;
}